<div class="page-title">
      <%= @discipline.name.upcase %>
    </div>

    <!-- CLASS PAGE STUFF -->
      <div class="class-cards">
        <%= cl_image_tag @discipline.photo, class: "class-photo class-cards-category"%>
        <div class="description class-cards-category">
          <%= @discipline.description %>
        </div>
      </div>
    </div>
