.class-cards {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  border: 1px solid white;
  margin:50px;
  height:400px;
}

.class-photo {
  padding:30px;
/*  border-right: 1px solid white;*/
}

.description {
  background-color: white;
  color:black;
  padding:20px;
}


/*TITLE*/
.page-title {
  background-color:white;
  color:black;
  text-align:center;
  font-size:18px;
  padding:10px;
}
