// REST OF THE PAGE

.free-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

#free {
  padding:30px;
/*  border-right: 1px solid white;*/
}
#free-contact {
  justify-content: center;
}


