// REST OF THE PAGE


.private-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

#private {
  padding:30px;
/*  border-right: 1px solid white;*/
}

#private-contact {
  justify-content: center;
}
