
.day  {
  padding: 0px 60px 40px 0px;
  color: white;
}

.row-centered {
  margin: auto;
}


.schedule-fees-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}


.schedule-fees-cards-category {
  background-size: cover;
  background-position: left;
  height: auto;
/*  display: flex;
  justify-content: left;
  align-items: left;*/
  color: white;
  font-size: 14px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
/*  border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  padding: 25px;
}

table, th, td {
  border: 1px solid white;
}

.cell {
  padding: 15px 15px;
}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .schedule-fees-cards {
    grid-template-columns: 1fr;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .schedule-fees-cards {
    grid-template-columns: 1fr;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .schedule-fees-cards {
    grid-template-columns: 1fr;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .schedule-fees-cards {
    grid-template-columns: 1fr 1fr ;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .schedule-fees-cards {
    grid-template-columns: 1fr 1fr ;
  }
}


