
.day  {
  padding: 0px 60px 40px 0px;
  color: white;
}

.row-centered {
  margin: auto;
}


.schedule-fees-cards-category {
  background-size: cover;
  background-position: left;
  height: auto;
/*  display: flex;
  justify-content: left;
  align-items: left;*/
  color: white;
  font-size: 14px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
/*  border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  padding: 25px;
}

table, th, td {
  border: 1px solid white;
}

.cell {
  padding: 15px 15px;
}



