  <div class="row">
    <div class="col-25">
      <label for="choice">Class</label>
    </div>
    <div class="col-75">
      <select id="dropdown-form" name="class">
        <% Discipline.all.each do |discipline| %>
          <option value="<%=discipline.name %>"><%= discipline.name %></option>
        <% end %>
      </select>
    </div>
  </div>
