<div class="row">
  <div class="col-25">
    <label for="choice">Trainer</label>
  </div>
  <div class="col-75">
    <select id="trainer-form" name="trainer">
      <% Trainer.all.each do |trainer| %>
        <option value="<%=trainer.name %>"><%= trainer.name %></option>
      <% end %>
    </select>
  </div>
</div>
