.triple-card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
/*  border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.home-CTA-cards {
  height: 220px;
    font-size: 24px;
}

.home-page-card {
  height: auto;
  font-size: 12px;
  text-align: center;
}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// .about-cards-category

.double-card-category {
  background-size: cover;
  background-position: left;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  font-size: 14px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
/*  border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  padding: 25px;
}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .double-card-category {
    grid-template-columns: 1fr;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .double-card-category {
    grid-template-columns: 1fr;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .double-card-category {
    grid-template-columns: 1fr 1fr;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .double-card-category {
    grid-template-columns: 1fr 1fr;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .double-card-category {
    grid-template-columns: 1fr 1fr;
  }
}


// On Home page

.CTA-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
