<div class="footer">
  <div class="footer-copyright">
    #VersusHK
    <br>
    <i class="far fa-copyright"></i>
    Versus Performance 2019
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</div>
