<div class="footer">
  <div class="footer-copyright">
    #VersusHK
    <br>
    <i class="far fa-copyright"></i>
    Versus Performance 2019
  </div>

  <ul class="submenu">
    <li><%= link_to "Admin Console", rails_admin_path if current_user && current_user.admin? %></li>
    <li><%= link_to "Sign-out", destroy_user_session_path    if current_user && current_user.admin? %></li>

  </ul>

  <div class="footer-links">
    <a href="https://www.instagram.com/versushongkong/"target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/versusperformance/"target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/user/versusperformance"target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.google.com/search?q=versus+performance+hk&oq=versus+per&aqs=chrome.0.69i59j69i60l3j69i57j0.1751j0j4&sourceid=chrome&ie=UTF-8#lrd=0x3404007c3b2eaaab:0x11d252fe7a93bf4d,1,,,"target="_blank"><i class="fab fa-google"></i></a>
  </div>
</div>
