<!-- PAGE TITLE -->
<div class="page-title">
  WHO WE ARE
</div>

<!-- PAGE BANNER -->
<div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxzgio39l/image/upload/v1561202113/group.jpg">
</div>

<!-- CARDS -->
<div class="about-cards">

  <div id="about" class="about-cards-category">
    <div class="big-logo-div">
     <h1>OUR GYM, OUR HOME</h1>
     <hr size=5 width=20% align=left margin=20px>
      <br>
      <p>Versus is fully-equipped to provide you with the best training experience. We focus on technique and practical skills as well as conditioning.</p>
      <br>

      <h2>TRAIN LIKE A FIGHTER</h2>
      <p>Train where real fighters and professionals train. You don’t have to step inside the ring but just know you will train just like a fighter and be as fit as one. As with any fitness programs, time and dedication is essential in order to reap rewards, so why not do it in a fun, interactive way, and in a small community where people actually get to know you.</p>
      <br>

      <h2>BE PART OF A COMMUNITY</h2>
      ​<p>Our goal is to provide best-valued, quality training in a safe, clean and friendly environment. We differ from large, commercial gyms, where they tend to be impersonal; the first gym rule at Versus is to ‘be courteous and respectful, say hi to others when you come in’ – so drop in for your free trial and experience Versus for yourself.
      <br></p>
    </div>
  </div>

<!-- CONTACT FORM - to be updated with Phil's email -->

<!-- Intro text -->
<div id="about-contact" class="container about-cards-category contact">
  <%= render 'shared/contact' %>
  </div>



