<!-- PAGE TITLE -->
<div class="page-title">
  OUR FACILITIES
</div>

<!-- PAGE BANNER -->
<div class="video-container">
<iframe width="1396" height="597" src="https://www.youtube.com/embed/LnxAguhY-M4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- CARDS -->
<div class="DOUBLE-cards">

  <div id="facilities" class="double-card-category">
    <div class="big-logo-div">
     <h1>OUR DEN</h1>
     <hr size=5 width=20% align=left margin=20px>
     <br>

      <h2>MARTIAL ARTS EQUIPMENT</h2>
      <p>The gym is fully matted - with quality bags from Thaialand and has a full-fledged boxing ring. Gloves, shin pads & handwraps are provided to all members. Brazilian Jiu-Jitsu gi rental is also available, all we ask for is HK$40 to cover the laundry fees.</p>
      <br>

      <h2>FITNESS EQUIPMENT</h2>
      <p>The gym has a bench, as well as a squat rack, barbells, dumbbells & kettlebells. The fitness equipment is available to all members.</p>
      <br>

      <h2>A CONVENIENT ENVIRONNMENT</h2>
      ​<p>Versus provides free filtered drinking water. You can enjoy 3 shower cabins where shampoo, soap & towels are provided. All you need to worry about is to show up to training!
      <br></p>
    </div>
  </div>

<!-- CONTACT FORM - to be updated with Phil's email -->

<!-- Intro text -->
<div id="facilities-contact" class="container double-card-category contact">
  <%= render 'shared/contact' %>
  </div>



