<!-- PAGE TITLE -->
<div class="page-title">
  FREE TRIAL
</div>

<!-- PAGE BANNER -->
<div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxzgio39l/image/upload/v1560676097/AOJ_3.jpg">
</div>

<!-- CARDS -->
<div class="free-cards">

  <div id="free" class="free-cards-category">
    <div class="big-logo-div">
     <h1>1 FREE TRIAL CLASS</h1>
     <hr size=5 width=20% align=left margin=20px>
      <br>
      We offer a free trial for our group classes to Hong Kong residents.<br><br>
      We ask you to arrive 15 min ahead of the class to get acquainted with the facilities and sign a form.<br> <br>
      Appointments by phone or email are preferred. Please also bring a HKID.<br> <br>
      No pressuring selling.
      <br>
    </div>
  </div>

<!-- CONTACT FORM - to be updated with Phil's email -->

<!-- Intro text -->
<div id="free-contact" class="container free-cards-category contact">
  <%= render 'shared/contact' %>
  </div>



