    <!-- PAGE TITLE -->
    <div class="page-title">
      FREE TRIAL
    </div>

    <!-- PAGE BANNER -->
    <div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    </div>

    <!-- Free trial text -->

    <!-- HOME PAGE STUFF -->
      <div class="home-cards">
        <div id="free-trial" class="home-cards-category">
          We offer a free trial class to Hong Kong residents.<br><br>
          Appointments are preferred. Please also bring a HKID.<br>
          We ask you to arrive 15 min ahead of the class to get acquainted with the facilities and sign a form.<br>
          No pressuring selling.
        </div>
        <div id="contact" class="home-cards-category">
          PLACEHOLDER
        </div>
      </div>

<!-- Stylesheet -->

<style>
