<!-- CAROUSEL -->
<div class="row">
  <div id="mycarousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
    <!-- indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="wallpaper.jpg" alt="Banner1">
      </div>

      <div class="item">
        <img src="wallpaper.jpg" alt="Banner2">
      </div>

      <div class="item">
        <img src="wallpaper.jpg" alt="Banner3">
      </div>
    </div>

    <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>
    <!-- CARDS -->
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <a href="#"><button type="button" id="card-button" class="btn btn-dark ">PRIVATE TRAINING</button></a>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <a href="#"><button type="button" id="card-button" class="btn btn-dark ">PRIVATE TRAINING</button></a>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
     <a href="#"><button type="button" id="card-button" class="btn btn-dark ">PRIVATE TRAINING</button></a>
  </div>
</div>

<!-- HOME PAGE STUFF -->
<div class="home-cards">
  <div id="welcome" class="home-cards-category">WELCOME TO VERSUS PERFORMANCE<br><br>No frills no contract, only hard work and genuine martial arts in HK island.<br>Top-notch trainers with a wealth of experience. A vibrant community.Located next to the MRT in Sheung Wan, with buses around.
  </div>
  <div id="social" class="home-cards-category">
    PLACEHOLDER
  </div>
</div>


<style>

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom:70px;
  margin-top:70px;
}

/*Logo*/
.navbar-logo {
  padding-left: 10px;
  padding-right: 50px;
  height: 35px;
  width: 35px;
  vertical-align: center;
  border-right: 1px solid white;
}

img {
  height: 30px;
  margin-top:3px;
  justify-content: center;
}



/* DESKTOP */

/*BUTTON*/

#navbar-button {
  margin: 30px;
}

#card-button {
  margin: 30px;
}




/* Left section */
.navbar-right {
  position: relative;
}


.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: black;
  transition: all 0.3s ease;
  height: 70px;
  width: 100%;
  padding: 0px 30px;
  display: inline-flex;
  align-items: center;
  margin:0;
  border:0;
  position: sticky;
  border-radius: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}


/* Remove bullet from ul tag */
ul {
  list-style-type: none;
}

/* Left section */
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
  display: inline-flex;
}

/* Navbar link */
.navbar-link {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.navbar-link:hover {
  color: #808080 ;
  text-decoration: none;
}

/*MOBILE */

/* Right section */
.navbar-mobile {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
/* Dropdown menu */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  justify-content: center;
  font-size: 15px !important;
  line-height: 32px !important;
  padding: 20px 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color:#808080 ;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.navbar-item .mobile-navbar{
  cursor: pointer;
  padding: 0 20px;
  display: inline-flex;
}


/*Mobile burger menu*/
.fa-bars {
  color: white;
}


/* MAIN CONTAINER*/

.container {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: black;
}

/*CAROUSEL*/

.carousel {
  border: 0;
  margin:0;
}

.carousel-inner {

  height:500px;
}

/*FOOTER*/
.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 20px 50px;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index:1;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  font-size: 10px;
}

/*CARDS*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
/*  border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*WELCOME*/
.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.home-cards-category {
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
/*  border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

#welcome {
  padding:30px;
/*  border-right: 1px solid white;*/
}

#social {

}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}
</style>

