<!-- PAGE TITLE -->
<div class="page-title">
  PRIVATE TRAINING
</div>

<!-- PAGE BANNER -->
<div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxzgio39l/image/upload/v1561196613/private.jpg">
</div>

<!-- CARDS -->
<div class="private-cards">

  <div id="private" class="double-card-category">
    <div class="big-logo-div">
     <h1>WHY PRIVATE TRAINING?</h1>
     <hr size=5 width=20% align=left margin=20px>
     <br><br>

      <p><i class="fas fa-bullseye"></i></i>&nbsp&nbsp&nbsp&nbsp   Achieve your goals with personalized workouts.</p>
      <br><br>

      <p><i class="fas fa-ruler-combined"></i>&nbsp&nbsp&nbsp&nbsp   Enjoy extensively detailed instruction from our trainers.</p>
      <br><br>

      <p><i class="far fa-clock"></i>&nbsp&nbsp&nbsp&nbsp   Train whenever it best fits your schedule.</p>
      <br><br>

      <p><i class="fas fa-user-friends"></i></i>&nbsp&nbsp&nbsp&nbsp   Bring your friends or colleagues. We offer group privates too!</p>
      <br>

      <div><%= link_to "CHECK OUT OUR TRAINERS", trainers_path, class: "button btn btn-dark", type: "button", id: "navbar-button"%></div>
    </div>
  </div>

<!-- CONTACT FORM - to be updated with Phil's email -->

<!-- Intro text -->
<div id="private-contact" class="container double-card-category contact">
  <%= render 'shared/contact' %>
</div>

