<div class="page-title">
  TRAINERS
</div>


  <div class="test">

    <% @trainers.each do |trainer| %>
      <div class="col-xs-12 col-sm-6 trainer-card">

      </div>
    <% end %>
  </div>


<!-- CLASS PAGE STUFF -->


<style>

  .flex-center {
    display: flex;

    /*justify-content: center;*/
  }

  .row-trainers {
    max-width: 100%;
    margin: auto;
  }
  .trainer-card {
    height: 400px;
    width: 400px;
    background: red;
    margin: 15px 15px;
  }
</style>
