.button {
  background-color:black;
  color:white;
  border-radius: 0;
  border:solid 1px white
}

.button:hover {
  color: #808080 ;
  text-decoration: none;
}

#navbar-button {
  margin: 30px;
}

#card-button {
  margin: 30px;
}


