<div class="devise-form">

  <h1>WELCOME <%= @email %>!</</h1>
  <hr size=5 width=20% align=left margin=20px>
  <br>

    <p>You can confirm your account email through the link below:</p>

    <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

</div>
