<div class="devise-form">

  <h1>HELLO <%= @resource.email %>!</h1>
  <hr size=5 width=20% align=left margin=20px>
  <br>

    <p>We're contacting you to notify you that your password has been changed.</p>

</div>
